* {
    max-height: 1080px;
}

body {
    background-color: rgb(143, 180, 248);
    font: normal 15pt Arial;
}

header {
    color: rgba(169, 240, 245, 0.699);
    text-align: center;
}

section {
    background-color: rgba(255, 255, 255, 0.3);
    line-height: 1;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
    padding: 15px;
    width: 500px;
    margin: auto;
}

img {
    margin-bottom: 30px;
    border-radius: 300px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.418);
}


a {
    text-decoration: none;
    color: rgba(7, 93, 99, 0.89);
}

footer {
    color: rgba(7, 93, 99, 0.89);
    text-align: center;
    font-size: medium;
}


#links {
    text-align: center;
    width: 500px;
    height: 70px;
}

#ptest {
    text-align: center;
    color: rgba(11, 120, 128, 0.89);
    font-size: 10px;
    margin-top: -30px;
}

#formsection {
    text-align: justify;
}

#labelmensage {
    width: 250px;
    height: 100px;
    margin-left: 125px;
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

#button {
    margin-left: 220px;
    margin-top: 30px;
    height: 30px;
    width: 60px;
}

.linktest {
    margin-left: -60px;
}

.linktest2 {
    margin-left: 100px;
}

.h2class {
    text-align: center;
    color: rgba(7, 93, 99, 0.89);
}

#sobremim {
    text-align: center;
    color: rgba(7, 93, 99, 0.89);
}
#hobbies{
    text-align: center;
    color: rgba(7, 93, 99, 0.89);
}
#contato{
    text-align: center;
    color: rgba(7, 93, 99, 0.89);
}

#test {
    color: rgba(7, 93, 99, 0.89);
    ;
}
#secao{
    font-size: medium;
    display: flex;
    justify-content: space-around;
}

.labeltext {
    margin-left: 5px;
    border: 2px solid #ccc;
    border-radius: 4px;
    text-align: justify;
}

.centerayy {
    width: 80px;
    height: 20px;
    margin: auto;
}

.sobre{
    text-align: justify;
    padding-left: 30px;
}

#rotatingayylmao {
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;

}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}